# Increase the upload file size limit
php_value upload_max_filesize 256M

# Increase the post data size limit
php_value post_max_size 256M

# Increase the maximum execution time
php_value max_execution_time 600

# Increase the maximum input time
php_value max_input_time 600
